/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #E9E3D5;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Top Bar */
.top-bar {
    background-color: #033043;
    display: flex;
}

@media (max-width: 768px) {
    .top-bar {
        display: none;
    }
}

/* Navbar */
header {
    background-color: #0A7273;
}

.navbar .search-form {
    margin-left: 0px; /* Jarak lebih dekat dengan Kategori */
    width: 500px; /* Sudah sesuai dengan instruksi sebelumnya */
}
.navbar .search-form .btn {
color: #033043;
}
.navbar .search-form .btn:hover {
    background-color: #E9E3D5; /* Warna hover */
}

/* General Icon Styling */
.btn-auth a {
    color: #E9E3D5; /* Warna teks utama */
    text-decoration: none;
    font-size: 20px;
}

.btn-auth a:hover {
    color: #FDA521; /* Warna saat hover */
}

/* Cart Icon */
.cart-icon {
    position: relative;
}

.cart-icon i {
    color: #033043;
    transition: color 0.3s ease;
}

.cart-icon:hover i {
    color: #FDA521;
}

/* Orders Icon */
.orders-icon i {
    color: #033043;
    transition: color 0.3s ease;
}

.orders-icon:hover i {
    color: #FDA521;
}

/* Profile Icon */
.profile-icon {
    color: #033043;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.profile-icon:hover {
    color: #FDA521;
}

/* Dropdown Menu Styling */
.dropdown-menu {
    background-color: #033043;
    border: none;
}

.dropdown-menu .dropdown-item {
    color: #E9E3D5;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #FDA521;
    color: #033043;
}

.dropdown-toggle::after {
    margin-left: 0.5rem;
    color: #E9E3D5;
}
