/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: small;
}

/* Top Bar */
.top-bar {
    background-color: #033043;
    display: flex;
}

@media (max-width: 768px) {
    .top-bar {
        display: none; /* Top bar disembunyikan pada layar kecil */
    }
}

/* Navbar */
header {
    background-color: #aacdd0;
}
.navbar-brand {
    font-family: "Signika", Arial, sans-serif;
    color: #033043;
  }

.navbar .search-form {
    margin-left: 0px;
    width: 100%; /* Menjadikan search form responsif */
    max-width: 500px; /* Batas maksimum 500px pada layar besar */
}

.navbar .search-form .btn {
    color: #033043;
}

.navbar .search-form .btn:hover {
    background-color: white;
}

/* Responsive Navbar */
@media (max-width: 768px) {
    .navbar .search-form {
        width: 100%; /* Full width pada layar kecil */
        margin: 0; /* Menghapus margin */
    }

    .navbar-brand {
        flex-grow: 1; /* Agar logo dan nama toko menyesuaikan */
        text-align: center;
    }

    .btn-auth {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}

/* General Icon Styling */
.btn-auth a {
    color: #033043;
    text-decoration: none;
    font-size: 20px;
}

.btn-auth a:hover {
    color: white;
}

/* Cart Icon */
.cart-icon {
    position: relative;
}

.cart-icon i {
    color: #033043;
    transition: color 0.3s ease;
}

.cart-icon:hover i {
    color: white;
}

/* Orders Icon */
.orders-icon i {
    color: #033043;
    transition: color 0.3s ease;
}

.orders-icon:hover i {
    color: white;
}

/* Profile Icon */
.profile-icon {
    color: #033043;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.profile-icon:hover {
    color: white;
}

/* Navbar - Kategori & Nama Pengguna Size */
.navbar-nav .nav-link, 
.profile-icon {
    font-size: 18px; /* Sesuaikan ukuran dengan Nama Pengguna */
    padding: 10px 15px; /* Memberi jarak yang cukup */
}

/* Dropdown Menu - Ubah Profil dan Logout */
.dropdown-menu .dropdown-item {
    font-size: 14px; /* Perkecil ukuran dropdown */
    padding: 10px 15px; /* Atur jarak padding */
    margin-right: 8px;
    color: #033043;
}



/* Icon untuk Ubah Profil dan Logout */
.dropdown-item.profile-edit::before {
   
    font-family: 'FontAwesome';
}

.dropdown-item.logout::before {
   
    font-family: 'FontAwesome';
}

/* Profile Icon */
.profile-icon {
    color: #033043;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.profile-icon:hover {
    color: #FDA521;
}

/* Dropdown Menu Styling */
.dropdown-menu {
    background-color: #033043;
    border: none;
}

.dropdown-menu .dropdown-item {
    color: white;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #FDA521;
    color: #033043;
}
